.aside {
  margin-top: 140px;
  margin-right: 60px;
  width: 250px;
}

.hero > img {
  width: 100%;
}

.home .hero {
  margin-top: -94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: '';
    display: block;
    background-image: url('../img/rectangle.svg');
    bottom: 90px;
    position: absolute;
    z-index: 2;
    width: 90px;
    height: 91px;
    right: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.39);
      z-index: -1;
    }
  }

  &__text {
    max-width: 600px;
    font-weight: 500;
    font-size: 18.1434px;
    line-height: 138.3%;
    color: $white;
    margin: 10px 0 51px;
    text-align: center;
  }

  &__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 57px;
    color: $white;
    margin: 25% 0 0;
  }

  &__btn {
    background: #5798ff;
    border-radius: 20px;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    padding: 8px;
    min-width: 149px;
    border: none;
    color: $white;
    cursor: pointer;

    &.yellow {
      background: #ffc93c;
      margin-left: 54px;
    }
  }
}

.team-detail .hero,
.my-team .hero {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.student-life .hero {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
  }
}

.university .hero {
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.39);
      z-index: -1;
    }
  }
}

.menu {
  list-style: none;

  * + * {
    margin-top: 9px;
  }

  &__item {
    * + * {
      margin-top: 9px;
    }
  }

  &__item > a {
    color: $black;
    text-decoration: none;
    padding: 8px 5px 8px 20px;
    border: 0.74961px solid #c4c4c4;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: block;
  }

  &__item.active > a {
    background-color: $primary;
    font-weight: 600;
    color: $white;
    border: none;
  }

  &__item > a:hover {
    opacity: 0.8;
  }
}

.s-menu {
  margin-left: 20px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 68px;

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 62px;
  }

  &__item {
    width: 405px;
    height: 448px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-transform: capitalize;
      color: $primary;
    }

    &__desc {
      color: $white;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      margin-top: 13px;
    }

    &__footer {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 3.6%,
        rgba(0, 0, 0, 0.79) 77%
      );
      border-radius: 15px;
      padding: 60px 28px 40px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 58px;

    &.x3 {
      grid-template-columns: repeat(3, 1fr);
      gap: 23px;
    }
  }
}

.university {
  .aside {
    margin-top: 0;
    margin-right: 0;
  }

  .menu__item > a {
    border-right: 0;
  }
}

.team-detail {
  .aside {
    margin-top: 35px;
  }
}

.our-team {
  .team__item {
    filter: drop-shadow(7.55976px 7.55976px 34.0189px rgba(0, 0, 0, 0.1));
  }
}
